.loadingView {
    font-size: var(--ui-font-size);
}

.scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--ion-color-primary);
    box-shadow: inset 0 0 6px var(--ion-color-primary); 
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: var(--ion-color-primary);
    -webkit-box-shadow: inset 0 0 6px var(--ion-color-primary); 
    box-shadow: inset 0 0 6px var(--ion-color-primary); 
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: var(--ion-background-color);
}