Source: cbetar2
Section: x11
Priority: optional
Maintainer: Meng-Yuan Huang <myh@live.com>
Build-Depends: debhelper, libgtk-3-0, libnotify4, libnss3, libxss1, libxtst6, xdg-utils, libatspi2.0-0, libuuid1, libsecret-1-0, wget, python3, ca-certificates, libasound2, libgbm1, libdrm2
Standards-Version: 4.6.0
Homepage: https://github.com/MrMYHuang/cbetar2
Vcs-Browser: https://github.com/MrMYHuang/cbetar2
Vcs-Git: https://github.com/MrMYHuang/cbetar2.git
Rules-Requires-Root: no

Package: cbetar2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Buddhist text reader using CBETA APIs
 CBETA Electronic Buddhist Text Reader 2 app features: search by categories,
 full text search, bookmarks, share by link, offline browsing, text to 
 speech, Buddhism dictionary, themes, pagination, adjustable font size,
 Kai font, vertical text layout, Buddhist text printing, cross platforms,
 no ad, open source.
