[Desktop Entry]
Name=電子佛典
GenericName=CBETA 電子佛典 2
Exec=run.sh
Icon=io.github.mrmyhuang.cbetar2
Type=Application
Terminal=false
Categories=Education;
