name: Publish

on:
  push:
    branches:
      - "!*"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:
    branches:
      - "*"

env:
  DEFAULT_BRANCH: master
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  APPLE_ID: ${{ secrets.APPLE_ID }}
  APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
  APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
  CSC_LINK: ${{ secrets.MAC_CERTS }}
  CSC_KEY_PASSWORD: ${{ secrets.MAC_CERTS_PASSWORD }}

jobs:
  publish-win-x64:
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        run: |
          npm i --ignore-scripts
          npm run dist-win -- -p always --x64

  publish-win-arm64:
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        run: |
          npm i --ignore-scripts
          npm run dist-win -- -p always --arm64 "-c.win.publish.provider=github" "-c.win.publish.publishAutoUpdate=false"

  publish-appImage-x86_64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        shell: 'script -q -e -c "bash {0}"'
        run: |
          npm run docker-dist-appImage -- -- -p always --x64

  publish-deb-amd64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        run: |
          sudo apt -y install ruby ruby-dev
          sudo gem install fpm -f
          npm i --ignore-scripts
          npm run dist-deb -- -p always --x64

  publish-rpm-x86_64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        run: |
          sudo apt -y install ruby ruby-dev rpm
          sudo gem install fpm -f
          npm i --ignore-scripts
          npm run dist-rpm -- -p always --x64

  publish-mac-universal:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup nodejs
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build and publish
        if: ${{ success() }}
        run: |
          npm i --ignore-scripts
          npm run dist-mac -- -p always --universal
